.privacy
    padding: 100px 20px
    &__title
        color: #FF3B30
        font-size: 32px
    &__subtitle
        color: #1C1C1E
        font-size: 18px
        font-weight: normal
    p
        color: #FF3B30
        font-size: 24px
        font-weight: 600